@media (max-width: 1200px) {
    .character-card-wrapper {
        width: 33.33%;
    }
    .episodes-card-wrapper,
    .filters-wrapper.episodes {
        width: 33.33%;
    }
}
@media (max-width: 1024px) {
    .character-card-wrapper,
    .episodes-card-wrapper,
    .filter-item,
    .filters-wrapper.episodes,
    .clear-filters {
        width: 50%;
    }
    .clear-filters .btn {
        width: 100%;
    }
    .character-detail .hero-banner {
        width: 50%;
    }
    .character-detail .information-card {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .filters-wrapper.episodes {
        margin-left: unset;
        padding: 0px 0px 40px 0px;
    }
    .character-card-wrapper,
    .episodes-card-wrapper,
    .filter-item,
    .episode-details .wrapper .item,
    .filters-wrapper.episodes,
    .clear-filters {
        width: 100%;
    }
    .section-padding {
        padding-top: 40px;
    }
    .section-header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .section-header .btn {
        display: block;
        width: 100%;
    }
    .character-detail .hero-banner {
        width: 100%;
    }
    .character-detail .hero-banner img,
    .character-detail .information-card {
        border-radius: 0px;
    }
    .character-detail .information-card {
        width: 100%;
    }
    .information-card .wrapper .item {
        width: 100%;
    }
}
